/* Fonts */
@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('fonts/georgia.woff') format('woff');
}

@font-face {
        font-family: 'Georgia Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Georgia Bold'), url('fonts/georgiab.woff') format('woff');
}

@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('fonts/ARIAL.woff') format('woff');
}

@font-face {
    font-family: 'Arial Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Italic'), url('fonts/ARIALI.woff') format('woff');
}

/* Custom properties */
:root {
    /* Font variables*/
    --ff-primary: 'Georgia Regular', serif;
    --ff-primary-bold: 'Georgia Bold', serif;
    --ff-secondary: 'Arial Regular', sans-serif;
    --ff-secondary-italic: 'Arial Italic', sans-serif;

    /*Colour variables*/
    --clr-light-s: hsl(0, 0%, 90%);
    --clr-light-l: hsl(0, 0%, 96%);
    --clr-light-xl: hsl(0, 0%, 100%);

    --clr-dark-s: hsl(0, 0%, 80%);
    --clr-dark-m: hsl(0, 0%, 70%);
    --clr-dark-l: hsl(0, 0%, 33%);
    --clr-dark-xl: hsl(0, 0%, 30%);
    --clr-dark-3xl: hsl(0, 0%, 16%);

    --clr-primary-light: hsl(23, 93%, 88%);
    --clr-primary-dark-3xl: hsl(25, 69%, 82%);

    /* Size variables*/
    --fs-h2: 2.75rem;
    --fs-h3: 2.1875rem;
    --fs-h3-mobile: 1.5625rem;
    --fs-h4: 1.25rem;
    --fs-h5: 0.9375rem;
    --fs-paragraph-l: 0.9375rem;
    --fs-paragraph-s: 0.75rem;
    --fs-paragraph-mob-menu: 2rem;
    --fs-logo-title: 2rem;
    --fs-logo-subtitle: 0.8125rem;
}

/* General styling */
* {
    padding: 0;
    margin: 0;
}

.container {
    /* padding: 0 2.5rem; */
    width: 1200px;
    margin-inline: auto;
}

.start-screen {
    background-image: url("images/background.png");
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.625rem;
    padding-top: 1.875rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 2.1875rem;
    list-style: none;
    font-family: var(--ff-secondary);
    font-size: var(--fs-paragraph-l);
    line-height: 160%;
}

a {
    text-decoration: none;
    color: var(--clr-light-s);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.logo-title {
    font-size: var(--fs-logo-title);
    font-family: var(--ff-primary);
    color: var(--clr-primary-dark-3xl);
    letter-spacing: 0.03125rem;
    line-height: 110%;
}

.logo-subtitle {
    font-size: var(--fs-logo-subtitle);
    font-family: var(--ff-secondary);
    color: var(--clr-light-xl);
    letter-spacing: 0.0625rem;
}

article {
    display: flex;
    align-items: center;
}

.hero-section {
    gap: 2.625rem;
}

h1 {
    font-size: var(--fs-h2);
    font-family: var(--ff-primary);
    line-height: 130%;
    color: var(--clr-light-xl);
    margin-bottom: 2.625rem;
}

h2 {
    font-size: var(--fs-h3);
    font-family: var(--ff-primary);
    line-height: 130%;
    letter-spacing: 0.0625rem;
    color: var(--clr-dark-l);
}

p {
    font-size: var(--fs-paragraph-l);
    font-family: var(--ff-secondary);
    line-height: 160%;
}

.hero-text {
    color: var(--clr-dark-s);
    margin-bottom: 2.625rem;
}

.primary-btn {
    border: none;
    color: var(--clr-dark-xl);
    background-color: var(--clr-primary-dark-3xl);
    border-radius: 100vmax;
    padding: 1.25em 3.75em;
    font-family: var(--ff-primary);
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.0625rem;
    cursor: pointer;
}

.primary-btn:hover,
.primary-btn:focus-visible {
    background-color: var(--clr-primary-light);
}

.about-pets {
    gap: 7.5rem;
    padding-inline: 10.9375rem;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.about-section > p {
    color: var(--clr-dark-xl);
}